<footer> 
    

    <div class="footerMiddle" style="background-color: rgb(33, 47, 82);">
        <div class="footerUp text-center" style="background-color: rgb(45, 67, 114);" routerLink="">
            <h6 class="text-light py-3">Back to top</h6>
        </div>
        <div class="container">
            <div class="row text-center text-light p-5">
                <div class="col-lg-3 col-md-4 col-sm-12 text-start">
                    <h5>Get to Know Us</h5>
                    <p>Careers</p>
                    <p>Blog</p>
                    <p>About Amazon</p>
                    <p>Investor Relations</p>
                    <p>Amazon Devices</p>
                    <p>Amazon Science</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-start">
                    <h5>Make Money with Us</h5>
                    <p>Sell products on Amazon</p>
                    <p>Sell on Amazon Business</p>
                    <p>Become an Affiliate</p>
                    <p>Advertise Your Products</p>
                    <p>Self-Publish with Us</p>
                    <p>Host an Amazon Hub</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-start">
                    <h5>Amazon Payment Products</h5>
                    <p>Amazon Business Card</p>
                    <p>Shop with Points</p>
                    <p>Reload Your Balance</p>
                    <p>Amazon Currency Converter</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-start">
                    <h5>Let Us Help You</h5>
                    <p>Amazon and COVID-19</p>
                    <p>Your Account</p>
                    <p>Your Orders</p>
                    <p>Shipping Rates & Policies</p>
                    <p>Returns & Replacements</p>
                    <p>Manage Your Content and Devices</p>
                    <p>Amazon Assistant</p>
                    <p>Help</p>
                </div>
            </div>
            <hr style="color: #fff;">
            <div class="footer-img text-center d-flex justify-content-center align-items-center">
                <img src="./assets/logo.png" style="width: 120px;">
                <h6 style="color: rgb(240, 186, 9); margin: 0 15px;">Designed By : Nader Tarek</h6>
            </div>
        </div>
    </div>
    
    <div class="footerLow p-5 bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Music</h6>
                    <p>Stream millions of songs</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Advertising</h6>
                    <p>Find, attract, and engage customers</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Drive</h6>
                    <p>
                        Cloud storage
                        from Amazon</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>6pm</h6>
                    <p>
                        Score deals
                        on fashion brands</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>AbeBooks</h6>
                    <p>
                        Books, art
                        & collectibles</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>ACX</h6>
                    <p>
                        Audiobook Publishing
                        Made Easy</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Sell on Amazon</h6>
                    <p>
                        Start a Selling Account</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Business</h6>
                    <p>
                        Everything For
                        Your Business</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>AmazonGlobal</h6>
                    <p>
                        Ship Orders
                        Internationally</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Home Services</h6>
                    <p>
                        Experienced Pros
                        Happiness Guarantee</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Ignite</h6>
                    <p>
                        Sell your original
                        Digital Educational
                        Resources</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Web </h6>
                    <p>Services
                        Scalable Cloud
                        Computing Services</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Audible</h6>
                    <p>
                        Listen to Books & Original
                        Audio Performances</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Book Depository</h6>
                    <p>
                        Books With Free
                        Delivery Worldwide</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Box Office Mojo</h6>
                    <p>
                        Find Movie
                        Box Office Data</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Music</h6>
                    <p>Stream millions of songs</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>ComiXology</h6>
                    <p>
                        Thousands of
                        Digital Comics</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>DPReview</h6>
                    <p>
                        Digital
                        Photography</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Fabric</h6>
                    <p>
                        Sewing, Quilting
                        & Knitting</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Goodreads</h6>
                    <p>
                        Book reviews
                        & recommendations</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>IMDb</h6>
                    <p>
                        Movies, TV
                        & Celebrities</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>IMDbPro</h6>
                    <p>
                        Get Info Entertainment
                        Professionals Need</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Kindle Direct</h6>
                    <p> Publishing
                        Indie Digital & Print Publishing
                        Made Easy</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Prime Video Direct</h6>
                    <p>
                        Video Distribution
                        Made Easy</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Shopbop</h6>
                    <p>
                        Designer
                        Fashion Brands</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Woot!</h6>
                    <p>
                        Deals and
                        Shenanigans</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Zappos</h6>
                    <p>
                        Shoes &
                        Clothing</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Ring</h6>
                    <p>
                        Smart Home
                        Security Systems</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>eero WiFi</h6>
                    <p>
                        Stream 4K Video
                        in Every Room</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Blink</h6>
                    <p>
                        Smart Security
                        for Every Home</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Neighbors App</h6>
                    <p>
                        Real-Time Crime
                        & Safety Alerts</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>Amazon Subscription </h6>
                    <p>Boxes
                        Top subscription boxes – right to your door</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <h6>PillPack</h6>
                    <p>
                        Pharmacy Simplified	</p>
                </div>
            </div>

            <p class="text-light text-center" style="font-size: 12px;">© 1995-2022, Amazon.com, Inc or its affiliates</p>
        </div>
    </div>
</footer>