@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

#carouselExampleIndicators {
    position: relative;
    // top: -16px;   
}

.categoriesBoxes {
    position: relative;
    top: -200px;

    .row {
        h5 {
            font-size: 13px !important;
        }
    }
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.swiper-button-next,
.swiper-button-next {
    display: block;
    background-color: #000;
    color: #fff;
    opacity: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 10%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide img {
    width: 30px !important;
}

.swiper-button-next {
    color: #000;
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    font-size: 10px !important;
    cursor: pointer;
    position: absolute;
    right: 1px;
}

// .irons{
//     display: grid;
//     background-color: #fff;
//     grid-template-columns: repeat(4, 1fr);
//     text-align: center;
//     .iron{
//         margin: 0 20px;
//         background: red;
//     }
// }
.box {
    .row img {
        height: 200px;
    }

    // body > div.categoriesBoxes > div > div.box.mx-4 > div > img{
    //     width: 3100px !important;
    // }
    .roww {
        background: #fff;
        padding: 15px 10px 40px;
    }

    .col-md-12 {
        a {
            display: block;
            text-decoration: none;
            width: 100%;
            background: rgb(255, 196, 0);
            transition: .3s;
            color: #000;
            text-align: center;
            border-radius: 6px;
            padding: 4px 0;
            font-size: 14px;
            margin-top: 20px;

            &:hover {
                background: rgb(255, 166, 0);
            }
        }
    }
}

.seeMore {
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: rgb(21, 91, 148);
    transition: .3s;

    &:hover {
        color: rgb(255, 166, 0);
    }
}

.box-h5 {
    font-size: 20px !important;
    font-weight: 700;
    margin: 0px 0 15px;
}

.categoriesBoxes .boxes .box .col-md-6 h5 {
    font-size: 11px !important;
    font-weight: 300;
}

.slider {
    height: auto;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: grid;
    // place-items: center;
    top: -180px;
    background: #fff;

    &::before,
    &::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        content: '';
        height: 100%;
        position: absolute;
        width: 15%;
        z-index: 2;
    }

    &::before {
        left: 0;
        top: 0;
    }

    &::after {
        right: -1px;
        top: 0;
        transform: rotateZ(180deg)
    }


    .slide-track {
        display: flex;
        width: calc(250px * 18);
        overflow: hidden;
        animation: scroll 60s linear infinite;
        padding: 20px;

        &:hover {
            animation-play-state: paused;
        }

        .slide {
            height: 200px;
            width: 500px;
            display: flex;
            align-items: center;
            padding: 15px;
            // margin: 30px;
            perspective: 50px;

            img {
                width: auto;
                height: auto;
                max-width: 270px;
                max-height: 200px;
                vertical-align: middle;
                transition: .3s;

                &:hover {
                    transform: translateZ(5px);
                    cursor: pointer;
                }
            }
        }
    }
}

.product-p {
    transition: .3s;
    color: rgb(11, 83, 11);
    height: auto;
    font-size: 12px;
    cursor: pointer;
}

.product-p:hover {
    color: red !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

@media (max-width: 880px) {
    .boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 769px) {
    .categoriesBoxes {
        top: -100px;
        .boxes {
            // grid-template-columns: repeat(2, 1fr);
            .box{
                .row{
                    .col-md-6{
                        img{
                            width: 50px !important;
                            height: 50px !important;
                        }
                    }
                }
            }
        }
    }

    .slide-track .slide {
        height: 120px !important;
        width: 150px;

        img {
            max-width: 200px !important;
            max-height: 150px !important;
        }
    }


}